@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply m-0 p-0 overflow-x-hidden overflow-y-auto font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    @apply w-screen min-h-screen;
  }
}

@layer utilities {
  .gpu-accelerated {
    will-change: transform;
    transform: translateZ(0);
  }
}
